.services {
  width: 100%;
  padding: 5rem 15rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("/home/bg-hero.png");
  /* padding: 0rem 10rem; */
  background-size: cover;
  background-repeat: no-repeat;
}

.services h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff9123;
}

.services h2 {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

.service-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}

.service {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 32%;
  padding: 2rem;
  height: 350px;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.service:hover {
  background-color: white;
  box-shadow: 0px 20px 20px 0px rgb(209 209 209 / 15%);
}

.service-img {
  width: 30%;
  margin-bottom: 2rem;
  height: auto;
}

.right-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.right-content h3 {
  color: black;
  height: auto;
  font-size: 1.2rem;
  font-weight: 600;
}

.right-content p {
  font-weight: 400;
  color: gray;
  margin-top: 1rem;
}

.right-content button {
  width: auto;
  height: auto;
  border: none;
  background: none;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 400;
  width: 10rem;
  text-align: left;
  /* color: #ffdc40; */
  color: #ff9123;
}

.right-content button svg {
  margin-left: 1rem;
  transform: rotate(45deg);
}

@media screen and (max-width: 1200px) {
  .services {
    padding: 1rem;
  }
  .services h2 {
    font-size: 2rem;
  }
  .services h3 {
    font-size: 1.5rem;
  }
  .service-list {
    flex-direction: column;
    /* padding: 1rem 0rem; */
  }
  .service {
    width: 100%;
    height: auto;
    flex-direction: column;
    border: none;
  }

  .right-content {
    width: 100%;
    margin-top: 1rem;
  }
}
