.chatbot {
  position: fixed;
  top: 4rem;
  right: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  height: auto;
  z-index: 1000;
}

.chatbot p {
  margin-right: 1rem;
  width: 10rem;
  padding: 1rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(209 209 209 / 50%);
}

.chat-icon {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #1429a0;
}

.wrapper-contact-form-inner {
  padding: 1rem 2rem;
  background: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 1px rgba(134, 134, 134, 0.37);
  height: 100%;
}

.wrapper-contact-form-inner form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper-contact-form-inner input {
  width: 100%;
  height: 2.5rem;
  border: 0.5px solid gray;
  border-radius: 10px;
  background: none;
  outline: none;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
}
.wrapper-contact-form-inner textarea {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 10rem;
  background: none;
  font-size: 1rem;
  outline: none;
  border: 0.5px solid gray;
  border-radius: 10px;
  /* margin-bottom: 1rem; */
}

.btn-contact {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  background: #1429a0;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}

.btn-contact div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-contact-form-inner button:disabled {
  background-color: #7b8588;
}

.wrapper-contact-form-inner h2 {
  /* margin-bottom: 1rem; */
  font-weight: 600;
  font-size: 1.3rem;
  overflow-x: unset;
}

.wrapper-contact-form-inner form div {
  overflow-x: unset;
}

@media screen and (max-width: 1200px) {
  .contact-form-inner {
    width: 100%;
    height: 600px;
    height: auto;
    padding: 3rem 2rem;
  }
}
